button{
    border: 2px solid black;
    color: black;
    padding: 1px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input{
    border: 1px solid black;
    margin: 10px;
    padding:2px;
}

.link{
    color: blueviolet;
}

.container{
    width: 90%;
    margin: auto;
    padding-top: 40px;
}

h1{
    font-size: 29px;
    text-transform: uppercase;
}

.item{
    margin: 10px 30px;
}

.show_book{
    margin-top:30px;
    padding: 30px;
    border: 1px ridge grey;
}
